.fadeIn200ms
  .card(ng-if="$ctrl.tasks.length > 0")
    .listview.lv-bordered.lv-lg
      .lv-body
        travel-task-item.lv-item.p-0.clickable(task='task', on-delete-btn-click="$ctrl.delete(task)", ng-repeat="task in $ctrl.tasks")
.empty-message(ng-if="!$ctrl.tasks.length")
  i.mdi.mdi-playlist-check
  .message
    | #{__('No tasks')}
