.row.flex-vertical-centered(ui-sref=".display({ travelId: $ctrl.travel.id })")
  .col-md-4.col-xs-6.lv-title
    h5.ellipsis(title="{{::$ctrl.travel.name}}") {{::$ctrl.travel.name}}
  .col-md-5.col-xs-5.ellipsis
    a(ng-href='mailto:{{::$ctrl.travel.enquirer}}', op-inbox-compose, title="{{::$ctrl.travel.enquirer}}")
      | {{::$ctrl.travel.enquirer}}
  .col-md-3.hidden-xs.lv-title
    span #{__('Accepted/Refused/...')}
.lv-actions.actions
  a(href="", data-toggle="dropdown", aria-expanded="false")
    i.mdi.mdi-dots-vertical
  ul.dropdown-menu.dropdown-menu-right
    li
      a(href="", esn-modal-launcher="/travel/app/delete/delete.html") #{__('Delete')}
